{deps,
 [
  %% ibrowse for doing HTTP requests
  {ibrowse, ".*", {git, "git://github.com/dizzyd/ibrowse.git",
                   "6d763ddc00333222be4c7ad2bf66b91e6f9f9d1a"}},
  %% mochiweb for JSON and header parsing
  {mochiweb, ".*", {hg, "http://bitbucket.org/basho/mochiweb", "tip"}},
  %% webmachine for multipart content parsing
  {webmachine, ".*", {hg, "http://bitbucket.org/basho/webmachine", "tip"}},
  %% riak-erlang-client for riakc_obj
  {riakc, ".*", {hg, "http://bitbucket.org/basho/riak-erlang-client", "tip"}}
 ]}.
