{deps,
 [
  %% ibrowse for doing HTTP requests
  {ibrowse, ".*", {git, "git://github.com/dizzyd/ibrowse.git", 
                   {branch, "master"}}},

   %% mochiweb for JSON and header parsing
   {mochiweb, "1.7.1", {git, "git://github.com/basho/mochiweb", 
                        {tag, "mochiweb-1.7.1"}}},

   %% webmachine for multipart content parsing
   {webmachine, "1.8.*", {git, "git://github.com/basho/webmachine",
                          {tag, "webmachine-1.8.0"}}},

   %% riak-erlang-client for riakc_obj
   {riakc, "1.1.0", {git, "git://github.com/basho/riak-erlang-client",
                     {branch, "master"}}}
  ]}.
