{deps,
 [
  %% ibrowse for doing HTTP requests
  {ibrowse, ".*", {git, "git://github.com/dizzyd/ibrowse.git",
                   "c6a698c099cce331dcfca06cc5bff6b4303b7921"}},
  %% mochiweb for JSON and header parsing
  {mochiweb, ".*", {git, "git://github.com/basho/mochiweb", "HEAD"}},
  %% webmachine for multipart content parsing
  {webmachine, ".*", {git, "git://github.com/basho/webmachine", "HEAD"}},
  %% riak-erlang-client for riakc_obj
  {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", "HEAD"}}
 ]}.
